<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioDeBusquedaSoapBinding" />
                <binding name="ServicioDeIngresoSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ws/ServicioDeBusqueda"
                binding="basicHttpBinding" bindingConfiguration="ServicioDeBusquedaSoapBinding"
                contract="ServicioDeBusquedaWS.SearchService" name="SearchServicePort" />
            <endpoint address="http://localhost:8080/ws/ServicioDeIngreso"
                binding="basicHttpBinding" bindingConfiguration="ServicioDeIngresoSoapBinding"
                contract="ServicioDeIngresoWS.ServicioDeIngreso" name="ServicioDeIngresoPort" />
        </client>
    </system.serviceModel>
</configuration>