/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #F5F5F5;*/

/*
$primaryColor: #7e97ac;
$primaryDarkColor: #446f93;
$primaryLightColor: #97b6d0;
*/

/*
$primaryColor: #0096e0;
$primaryDarkColor: #037ebb;
$primaryLightColor: #40ade3;
*/


$primaryColor: #4a6882;
$primaryDarkColor: #324658;
$primaryLightColor: #5c82a2;

/*$accentColor: #ff3300;*/

$accentColor: #e55a37;
$accentDarkColor: #e17c63;
$accentLightColor: #e33d13;

$accentTextColor: #ffffff;

@import '../sass/theme/_theme';