/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #2D2D2D;
*/

/*
$primaryColor: #7e97ac;
$primaryDarkColor: #446f93;
$primaryLightColor: #97b6d0;
*/

/*
$primaryColor: #0096e0;
$primaryDarkColor: #037ebb;
$primaryLightColor: #40ade3;
*/

/*
$primaryColor: #337ab7;
$primaryDarkColor: #045282;
$primaryLightColor: #3091C1;
*/

$primaryColor: #678fb1;
$primaryDarkColor: #4a6882;
$primaryLightColor: #6c96b9;

/*$accentColor: #ff3300;*/

$accentColor: #e55a37;
$accentDarkColor: #e33d13;
$accentLightColor: #e17c63;

$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';