/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #2D2D2D;
*/
$primaryColor: #337ab7;
$primaryDarkColor: #045282;
$primaryLightColor: #3091C1;
/*$accentColor: #ff3300;*/
$accentColor: #ff9b83;
$accentDarkColor: #ff6a48;
$accentLightColor: #ffa18b;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';