<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioDeIngresoSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ws/ServicioDeIngreso"
                binding="basicHttpBinding" bindingConfiguration="ServicioDeIngresoSoapBinding"
                contract="IngresoWS.ServicioDeIngreso" name="ServicioDeIngresoPort" />
        </client>
    </system.serviceModel>
</configuration>