/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #F5F5F5;*/
$primaryColor: #337ab7;
$primaryDarkColor: #045282;
$primaryLightColor: #3091C1;

/*$accentColor: #ff3300;*/
$accentColor: #e55a37;
$accentDarkColor: #e17c63;
$accentLightColor: #e33d13;

$accentTextColor: #ffffff;

@import '../sass/theme/_theme';